<h1>item successfully deleted</h1>

{{!-- <form action="/products/{{paramsId}}/edit" method="GET">
    <button type="submit">Edit Product</button>
</form> --}}

<form action="/products" method="GET">
    <button type="submit">Product List</button>
</form>