<h1>Edit Article</h1>
<form method="PUT" action="/products">
    <label for="Title">Title</label>
    <input type="text" name="Title" id="Title" placeholder="New Title">
    <label for="body">body</label>
    <input type="text" name="body" id="body" placeholder="Body">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" placeholder='Author'>
    <input type="submit" value="Submit">
</form>