<h1>Edit Product</h1>
<form method="PUT" action="/products">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="New Name">
    <label for="id">ID</label>
    <input type="text" name="id" id="id" placeholder="ID Number">
    <input type="submit" value="Submit">
</form>

<div id="footer"><a href="/products">Product List</a></div>