<h1>Add New Product</h1>
<form method="POST" action="/products">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="price">Price</label>
    <input type="text" name="price" id="price" placeholder="$0">
    <label for="inventory">Inventory</label>
    <input type="text" name="inventory" id="inventory" placeholder="0">
    <input type="submit" value="Submit">
</form>
<div id="footer"><a href="/products">Product List</a></div>