<h1>Products</h1>
{{#each storage}}
<h2>{{name}}</h2>
<ul>
    <li>Price: {{price}}</li>
    <li>Inventory: {{inventory}}</li>
</ul>
</div>
{{/each}}

<div id="footer"><a href="/products/new">Add New Item</a></div>